In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Adam\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
data = pd.read_csv("Student_Performance2.csv")

In [3]:
data.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7.000000,63.00000,Yes,6.0,9.000000,11
1,NaN,62.00000,Yes,9.0,7.000000,59
2,8.000000,8.24187,No,6.0,1.000000,21
3,5.000000,47.00000,No,8.0,NaN,99
4,-12.861731,93.00000,NaN,5.0,23.322175,32

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     1006 non-null   float64
 1   Previous Scores                   1004 non-null   float64
 2   Extracurricular Activities        1000 non-null   object
 3   Sleep Hours                       1003 non-null   float64
 4   Sample Question Papers Practiced  1007 non-null   float64
 5   Performance Index                 1100 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 51.7+ KB

In [16]:
data.describe(include='all')

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,1006.000000,1004.000000,1000,1003.000000,1007.000000,1100.000000
unique,NaN,NaN,2,NaN,NaN,NaN
top,NaN,NaN,No,NaN,NaN,NaN
freq,NaN,NaN,508,NaN,NaN,NaN
mean,4.623712,70.128955,NaN,6.810508,4.544411,55.410000
std,4.697153,21.698834,NaN,3.762312,5.056548,26.276026
min,-12.861731,8.241870,NaN,-8.561205,-14.193286,10.000000
25%,2.000000,55.000000,NaN,5.000000,2.000000,31.000000
50%,5.000000,71.000000,NaN,7.000000,5.000000,57.000000
75%,7.000000,85.000000,NaN,8.000000,7.000000,78.000000
max,22.699509,131.882574,NaN,21.681205,23.322175,99.000000

In [6]:
data.isnull().sum()

Hours Studied                        94
Previous Scores                      96
Extracurricular Activities          100
Sleep Hours                          97
Sample Question Papers Practiced     93
Performance Index                     0
dtype: int64

In [8]:
data.duplicated().sum()

0

In [32]:
#Renseigner les valeurs manquantes
cat_data = []
num_data = []
for i , c in enumerate(data.dtypes):
    if c == "object":
        cat_data.append(data.iloc[:,i])
    else :
        num_data.append(data.iloc[:,i])
num_data = pd.DataFrame(num_data).transpose()
cat_data = pd.DataFrame(cat_data).transpose()
num_data

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7.000000,63.00000,6.0,9.000000,11.0
1,NaN,62.00000,9.0,7.000000,59.0
2,8.000000,8.24187,6.0,1.000000,21.0
3,5.000000,47.00000,8.0,NaN,99.0
4,-12.861731,93.00000,5.0,23.322175,32.0
...,...,...,...,...,...
1095,8.000000,66.00000,9.0,5.000000,87.0
1096,4.000000,46.00000,9.0,8.000000,74.0
1097,2.000000,66.00000,8.0,2.000000,70.0
1098,3.000000,64.00000,4.0,8.000000,29.0
1099,9.000000,95.00000,4.0,1.000000,83.0

In [33]:
cat_data.isnull().sum()

Extracurricular Activities    100
dtype: int64

In [34]:
print(cat_data.dropna().shape)
print(cat_data.shape)

(1000, 1)
(1100, 1)

In [35]:
#dans ce cas nous avons moin de 10% alors je preferer de supprimer les valeur manquantes
cat_data.dropna(inplace=True)
cat_data.isnull().sum()

Extracurricular Activities    0
dtype: int64

In [24]:
#pour le cas ou il est plus que 10% on va remplacer les manquantes par des valeurs qui se represent le plus 
cat_data = cat_data.apply(lambda x:x.fillna(x.value_counts().index[0]))
cat_data.isnull().sum().any()

False

In [36]:
#pour les valeurs numeriques 
print(num_data.dropna().shape)
print(num_data.shape)

(772, 5)
(1100, 5)